<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>card1</key>
	<array>
		<string>Grown Man with Stuffed Animals Tied to Him</string>
        <string>Motorized Scooter Pulling Something</string>
		<string>Toothless Person</string>
		<string>KFAN&apos;s Dan Cole</string>
		<string>Giant Pumpkin</string>
		<string>Pregnant Woman Smoking</string>
		<string>Person Wearing a Mask</string>
		<string>Person Wearing Blaze Orange</string>
		<string>Someone Walking Barefoot</string>
		<string>Square Dancing</string>
		<string>Selfie Stick</string>
		<string>A Pyramid of Empty Beer Cups</string>
		<string>Free</string>
		<string>Grain Bin</string>
		<string>Sid Hartman</string>
		<string>Green Bay Packers Jersey</string>
		<string>Exposed Underwear</string>
		<string>Double Fisting Corndogs</string>
		<string>Cardboard Pig Ears</string>
		<string>Butter Sculpture</string>
		<string>Cities 97&apos;s Paul Fletcher</string>
		<string>Carnie Smoking a Cigarette</string>
		<string>Inappropriate T-Shirt</string>
		<string>Seed Art</string>
		<string>Woman in Wedding Dress</string>
	</array>
</dict>
</plist>
